#about {
    width: 100%;
    height: 60vh;
    background: #020202;
    scroll-margin-top: 22vh;
}

#about .about_title{
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}
#about .about_title hr{
    position: absolute;
    border: 1px solid aliceblue;
    width: 25vh;
    top: 50%;
}
#about .about_menu{
    width: 100%;
    height: 50vh;
    background: #020202;
}

#about .about_menu .about_menu_slider{
    width: 40%;
    height: 50vh;
    background: #eae200;
}

#about .about_menu .about_menu_slider ul{
    list-style: none;
    padding: 0;
    margin: 0;
}