.background__header {
  height: 100vh;
  background: #020202;
  overflow: hidden;
}

.background__header .background__pointers ul{
  margin: 0;
}

.background__header .background__pointers ul li{
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(#eae200, transparent, transparent);
  bottom: 0;
  left: 10vw;
  animation: animate 15s linear infinite;
}

.background__header .background__pointers ul li:nth-child(1){
  left: 45vw;
  animation-delay: 8s;
}

.background__header .background__pointers ul li:nth-child(2){
  left: 37vw;
  animation-delay: 2s;
}

.background__header .background__pointers ul li:nth-child(3){
  left: 25vw;
  animation-delay: 3.5s;
}

.background__header .background__pointers ul li:nth-child(4){
  left: 60vw;
  animation-delay: 6s;
}

.background__header .background__pointers ul li:nth-child(5){
  left: 75vw;
  animation-delay: 4s;
}

.background__header .background__pointers ul li:nth-child(6){
  left: 5vw;
  animation-delay: 5s;
}

@keyframes animate {
  0%{
    transform: scale(0);
    opacity: 1;
    bottom: 0;
  }
  100%{
    transform: scale(10);
    opacity: 0;
    bottom: 100vh;
  }
  
}
