#navbar{
    position: fixed;
    width: 95%;
    height: 10vh;
    background: #000000;
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0 2%;
    align-items: center;
    border-bottom: 5px solid transparent;
    box-shadow: 5px 5px 5px 0px rgba(48, 48, 48, 0.5);
}

#navbar.width100_border__bottom {
    width: 100%;
    border-radius: 0;
    border-bottom: 5px solid #eae200;
    height: calc(10vh + 5px);
    box-shadow: none;
}

#navbar a {
    text-decoration: none;
    color: aliceblue;
}

/*--- NavBar ELEMENTS ---*/

#navbar .navbar__logo {
    font-family: "Tiny5", sans-serif;
    font-size: 20px;
}

#navbar .navbar__links {
    display: flex;
    align-items: center;
    margin: 0;
}

#navbar .navbar__links li {
    display: inline-block;
}

#navbar .navbar__links li:not(:last-of-type) {
    margin-right: 2rem;
}

#navbar .navbar__links a svg {
    width: 28px;
    height: 28px;
}

/*--- FIM NavBar ELEMENTS ---*/

/*--- Checkbox DARk/LIGHT ---*/

#navbar .navbar__links .checkbox {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 5px;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#navbar .checkbox__moon {
    color: aliceblue;
}

#navbar .checkbox__moon__btn {
    position: relative;
    cursor: pointer;
}

#navbar .checkbox__moon__btn .checkbox {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;

}

#navbar .checkbox__moon__btn svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

#navbar .Sun svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

#navbar .checkbox__moon__btn svg mask>circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
}

#navbar .checkbox__moon__btn .checkbox:checked+svg mask>circle {
    transform: translate(16px, -3px);
}

/*--- FIM Checkbox DARk/LIGHT ---*/
