#navbar{
    position: fixed;
    width: 91%;
    height: 10vh;
    background: #000000;
    border-radius: 0px 50px 50px 0px;
    transition: 0.5s;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    border-bottom: 0 solid transparent;
    box-shadow: 5px 5px 5px 0px rgba(48, 48, 48, 0.5);
}

#navbar.width100_border__bottom {
    width: 96%;
    border-radius: 0;
    border-bottom: 5px solid #eae200;
    height: calc(10vh + 5px);
    box-shadow: none;
}

/* NAVBAR ELEMENTOS */

#navbar .navbar__logo {
    font-family: "Tiny5", sans-serif;
    font-size: 20px;
}

#navbar .navbar__links {
    display: flex;
    align-items: center;
}

#navbar .navbar__links li:not(:last-of-type) {
    margin-right: 2rem;
}

#navbar .navbar__links a .bi{
    font-size: 28px;
}

#navbar .navbar__links a .bi-github{
    font-size: 30px;
}

/* DARK LIGHT */

#navbar .checkbox_dark_light_container {
    position: relative;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: aliceblue;
}

#navbar #checkbox_dark_light {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#navbar .checkbox_dark_light_container .dark_light_mask{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 25%;
    top: -25%;
    border-radius: 50%;
    background: #000;
    transition: 0.5s;
}

#navbar .checkbox_dark_light_container .dark_light_mask.mask{
    width: 0;
    height: 0;
    left: 100%;
    top: 50%;
}